[submodule "config_utilities"]
	path = config_utilities
	url = git@github.com:MIT-SPARK/config_utilities.git
[submodule "teaser_plusplus"]
	path = teaser_plusplus
	url = git@github.com:MIT-SPARK/teaser_plusplus.git
[submodule "spark_dsg"]
	path = spark_dsg
	url = git@github.com:MIT-SPARK/spark_dsg.git
[submodule "kimera_pgmo"]
	path = kimera_pgmo
	url = git@github.com:MIT-SPARK/kimera_pgmo.git
[submodule "pose_graph_tools"]
	path = pose_graph_tools
	url = git@github.com:MIT-SPARK/pose_graph_tools.git
[submodule "semantic_inference"]
	path = semantic_inference
	url = git@github.com:MIT-SPARK/semantic_inference.git
[submodule "spatial_hash"]
	path = spatial_hash
	url = git@github.com:MIT-SPARK/spatial_hash.git
[submodule "hydra"]
	path = hydra
	url = git@github.com:MIT-SPARK/hydra.git
[submodule "hydra_ros"]
	path = hydra_ros
	url = git@github.com:MIT-SPARK/hydra_ros.git
[submodule "kimera_rpgo"]
	path = kimera_rpgo
	url = git@github.com:MIT-SPARK/kimera_rpgo.git
[submodule "ianvs"]
	path = ianvs
	url = git@github.com:MIT-SPARK/ianvs.git
