[submodule "khronos_slam/config_utilities"]
	path = khronos_slam/config_utilities
	url = git@github.com:MIT-SPARK/config_utilities.git
[submodule "khronos_slam/teaser_plusplus"]
	path = khronos_slam/teaser_plusplus
	url = git@github.com:MIT-SPARK/TEASER-plusplus.git
[submodule "khronos_slam/spark_dsg"]
	path = khronos_slam/spark_dsg
	url = git@github.com:MIT-SPARK/Spark-DSG.git
[submodule "khronos_slam/kimera_pgmo"]
	path = khronos_slam/kimera_pgmo
	url = git@github.com:MIT-SPARK/Kimera-PGMO.git
	branch = ros2
[submodule "khronos_slam/pose_graph_tools"]
	path = khronos_slam/pose_graph_tools
	url = git@github.com:MIT-SPARK/pose_graph_tools.git
[submodule "khronos_slam/spatial_hash"]
	path = khronos_slam/spatial_hash
	url = git@github.com:MIT-SPARK/Spatial-Hash.git
[submodule "khronos_slam/hydra"]
	path = khronos_slam/hydra
	url = git@github.com:MIT-SPARK/Hydra.git
[submodule "khronos_slam/hydra_ros"]
	path = khronos_slam/hydra_ros
	url = git@github.com:MIT-SPARK/Hydra-ROS.git
[submodule "khronos_slam/kimera_rpgo"]
	path = khronos_slam/kimera_rpgo
	url = git@github.com:MIT-SPARK/Kimera-RPGO.git
	branch = develop
[submodule "khronos_slam/ianvs"]
	path = khronos_slam/ianvs
	url = git@github.com:MIT-SPARK/Ianvs.git
